<div class="container mt-4">
  <% @blogs.each do |blog| %>
    <div class="p-md-5 mb-4 rounded border">
      <div class="col-12 px-0 d-flex align-items-center justify-content-between">
        <div>
          <h1 class="display-4 fst-italic blog-title"><%= link_to blog.title, blog_path(blog) %></h1>
          <p class="lead my-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita vel natus commodi adipisci fuga nobis inventore! Nihil illum dignissimos quasi? Rerum, iusto. Fugiat explicabo ratione consequatur et, sed repellat enim.</p>
          <div class="text-muted mb-1">
            <%= blog.updated_at.strftime("%A, %B %e, %Y") %> by 
            <%= blog.user.username %> <br>
            <%= pluralize(blog.views, "View") %>
          </div>
          <div class="d-flex">
            <%= button_to "Edit" , edit_blog_path(blog), method: :get ,class:"btn btn-outline-success shadow px-3 py-2" %>
            <%= button_to "Delete", blog_path(blog), method: :delete ,class:"btn btn-outline-danger shadow ms-2 px-3 py-2" %>
          </div>
        </div>
        <div class="d-none d-lg-block">
          <% if blog.thumbnail.attached? %>
            <%= image_tag blog.thumbnail, alt: "Image not loaded", class: "img-fluid"  %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @blogs %>
</div>
