<!-- Blog Details Showing -->
<div class="container mt-4">
  <div class="breadcrumb">
    <%= render_breadcrumbs %>
  </div>
  <hr class="mt-2 mb-5">
  <div class="row g-5 mb-4">
    <div class="col-12">
      <article>
        <div class="d-flex justify-content-between">
          <h2><%= @blog.title %></h2>
          <div class="d-flex">
            <%= button_to "Edit" , edit_blog_path, method: :get ,class:"btn btn-outline-success shadow px-5 py-2" %>
            <%= button_to "Delete", blog_path(@blog), method: :delete ,class:"btn btn-outline-danger shadow px-5 py-2 ms-2" %>
          </div>
        </div>
        <p class="badge bg-danger"> <%= @blog.category.category %> </p>
        <br>
        <div class="d-flex justify-content-between">
          <p>
            <%= @blog.updated_at.strftime("%A, %B %e, %Y") %> by 
            <%= @blog.user.username %> <br>
            <%= pluralize(@blog.views, "View") %> || <%= pluralize(@blog.likes.count, "Like") %> <br>
            <strong> <%= @blog.subtitle %> </strong>
          </p>
          <div class="like-div mb-4">
            <% like = current_user.likes.find_by(blog: @blog) %>
            <% if like.nil? %>
              <!-- Like Implementation using button_to RAILS -->
              <%#= button_to "Like-2", likes_path, method: :post, params: { like: { blog_id: @blog.id }} %>
              <!-- Like Implementation using HTML FORM -->
              <form action="/likes" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
                <input type="hidden" name="like[blog_id]" value="<%= @blog.id %>">
                <input type="submit" value="Like" class="btn btn-danger rounded px-3">
              </form>
            <% else %>
              <!-- Unlike Implementation using button_to RAILS -->
              <%#= button_to "Unike-2", like_path(like), method: :delete %>
              <!-- Unlike Implementation using HTML FORM -->
              <form action="<%= like_path(like) %>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Unlike" class="btn btn-warning shadow rounded px-3">
              </form>
            <% end %>
          </div>
        </div>
        <hr>
        <% if @blog.photo.attached? %>
          <%= image_tag @blog.photo, alt:"Image Not Loaded", class:"img-fluid" %>
        <% end %>
        <p><%= @blog.blog_body %></p>
      </article>
    </div>
  </div>
  <!-- Comment Section Start Here -->
  <%= render 'comments/form', commentable: @blog, local: Comment.new %>
  <div id="comment-pane">
    <% @comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  </div>
  <!-- Recent Posts Div Start Here -->
  <div class="recent-blogs mt-5">
    <h3 class="bg-danger text-light p-2"> Recent Blogs </h3>
    <div class="row">
      <% Blog.last(4).each do |recent_blog| %>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <a href="/blogs/<%=recent_blog.id%>">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4 text-center">
                  <%= image_tag recent_blog.thumbnail, alt:"Image Not Loaded", class:"img-fluid rounded-start" %>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= recent_blog.title %></h5>
                    <p class="card-text"><%= recent_blog.blog_body.to_plain_text.truncate_words(20) %></p>
                    <small class="card-text text-muted">
                      <p>
                        <%= recent_blog.updated_at.strftime("%A, %B %e, %Y") %> by 
                        <%= recent_blog.user.username %> <br>
                        <%= pluralize(recent_blog.views, "View") %> || <%= pluralize(recent_blog.likes.count, "Like") %> <br>
                      </p>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
