<!-- Blog Details Showing -->
<div class="container mt-4">
  <div class="row g-5 mb-4">
    <div class="col-12">
      <article>
        <div class="d-flex justify-content-between">
          <h2><%= @blog.title %></h2>
          <div class="d-flex">
            <%= button_to "Edit" , edit_blog_path, method: :get ,class:"btn btn-outline-success shadow px-5 py-2" %>
            <%= button_to "Delete", blog_path(@blog), method: :delete ,class:"btn btn-outline-danger shadow px-5 py-2 ms-2" %>
          </div>
        </div>
          <p class="badge bg-danger"> <%= @blog.category.category %> </p> <br>
        <p>
          <%= @blog.updated_at.strftime("%A, %B %e, %Y") %> by 
          <%= @blog.user.username %> <br>
          <%= pluralize(@blog.views, "View") %> <br>
          <strong> <%= @blog.subtitle %> </strong>
        </p>
        <hr>
        <% if @blog.photo.attached? %>
          <%= image_tag @blog.photo, alt:"Image Not Loaded", class:"img-fluid" %>
        <% end %>
        <p><%= @blog.blog_body %></p>
      </article>
    </div>
  </div>
  <!-- Comment Section Start Here -->
  <%= render 'comments/form', commentable: @blog, local: Comment.new %>
  <div id="comment-pane">
    <% @comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  </div>
</div>
