<h1><%=user.email %></h1>
<br>
<%= render 'profile/follower_count', user: user %>
<div> <%= user.followees.count %> Following </div>
<% if user == current_user %>
  <%= link_to "Edit Profile", edit_user_registration_path %>
<% elsif current_user %>
  <%= render 'profile/follow_button', user: @user %>
<% end %>
