<% if current_user %>
  <%= current_user.email %>
  Current User : <%= current_user.email %> <hr>
  <p> People I'm Following :  </p>
  <%= current_user.followees.each do |u| %>
    Following Email : <%= u.email %>
    <br>
  <% end %>
  <hr>
  <p> People Following ME :  </p>
  <%= current_user.followers.each do |u| %>
    Followers Email : <%= u.email %>
    <br>
  <% end %>
<% end %>
